.formulario {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 1em;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-right: 1em;
  margin-bottom: 1em;
  min-width: 200px; /* Ajuste conforme necessário */
}

.form-group label {
  margin-bottom: 0.5em;
}

.form-group input,
.form-group select {
  padding: 0.5em;
  font-size: 1em;
}
